<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-custom.html %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
      </div>
    </header>

    <div class="container main-content">
      {{ content }}

      {% if page.chart_js %}
        <div id="chart-container"></div>
      {% endif %}
    </div>

    <footer>
      <div class="container">
        {% include foot-custom.html %}
      </div>
    </footer>

  </body>

  {% if page.chart_js %}
    <script src="{{ page.chart_js }}"></script>
  {% endif %}
</html>
